* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.dashboard {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}
  
.div {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-section {
    width: 20%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: width .5s ease-in-out;
}

.nav-section .logo {
    width: 80%;
    height: 70px;
    padding: 25px 0;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
}

.nav-bar {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-list {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-list div {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 14px;
    color: #c4c4c4;
    cursor: pointer;
    /* transition: all 2s ease-in-out; */
}

.nav-list div:not(.horiz-line) {
    padding-left: 15%;
}

.horiz-line {
    margin: 10px ;
}

.bottom-nav-bar {
    width: 100%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.bottom-nav-list {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-nav-list div {
    display: flex;
    align-items: center;
    padding-left: 15%;
    gap: 20px;
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 14px;
    color: #c4c4c4;
    cursor: pointer;
}

.active {
    color: #f9782f;
}

#collapse {
    color: #000;
}

.container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.profile-bar {
    width: 100%;
    height: 8%;
    background: #ffffff;
    display: flex;
}

.profile-info {
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
    gap: 20px;
}

.texts-row1 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
    color: #000000;
}

.free-trial {
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 600;
    font-size: 14px;
    border-right: 1px solid black;
    padding-right: 10px;
}

.days-left {
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 400;
    font-size: 10px;
}

.texts-row2 {
    display: flex;
    align-items: center;
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 500;
    font-size: 11px;
    height: 20px;
}

.texts-row2 a {
    color: #f9782f;
    text-decoration: none;
    cursor: pointer;
}

.profile-img {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap: 5px;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 92%;
}

.main-head {
    /* border: 1px solid; */
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 35px;
    width: 70%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
}

.project-container {
    width: 100%;
    height: inherit;
}

.create-project-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#crudForm {
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.create-project {
    max-width: 250px;
    background-color: #ffffff;
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    flex: 1 0 200px;
}

.project {
    width: 220px;
    height: 100px;
    background-color: #f9782f66;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project:hover {
    background: #f9782f90;
}

.project:active{
    background: #f9782f33;
}

a:active, .buttons span a:active {
    color: #000;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons button {
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons-rud button {
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons span {
    font-family: "Work Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 11px;
    color: #000;
}

.buttons span a {
    color: #f9782f;
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
    .nav-section {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .nav-section {
        width: 40%;
    }
    .nav-list div:not(.horiz-line) {
        padding-left: 5%;
    }
    .bottom-nav-list div {
        padding: 5%;
    }
    .main-head {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .nav-section {
        width: 16%;
        min-width: 90px;
    }
    .nav-list span{
        display: none;
    }
    .bottom-nav-list span {
        display: none;
    }
    .nav-list div:not(.horiz-line), .bottom-nav-list div {
        justify-content: center;
        padding: 0;
        gap: 5px;
    }
    .main-head {
        font-size: 25px;
        padding: 25px 25px; 
    }
    .create-project-container {
        padding: 0 25px;
    }
    .create-project {
        width: 170px;
        height: 170px;
    }
    .project {
        width: 150px;
        height: 80px;
    }
    .create-project-container {
        padding: 0;
        width: 100%;
    }
    #crudForm {
        padding-left: 25px;
    }
}

.create-project-container::-webkit-scrollbar {
    width: 8px;
}
  
.create-project-container::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}
  
.create-project-container::-webkit-scrollbar-thumb {
    background: #f9782f99;
    border-radius: 5px;
}
